.footer {
    background-color: var(--hero-bg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 90px;
    padding: 40px;
}


.footer-menu{
    display: flex;
    gap: 15px;
    font-size: 16px;
}

.footer-icons{
    display: flex;
    gap: 10px;
}

.icon{
    fill: var(--hero-text);
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.icon:hover{
    fill: var(--maincolor);
}

@media (max-width: 768px) {

    .footer-copyright{
        font-size: 12px;
    }

    
}